@()
@main("Review 360")("Your latest 360 review results."){
<div class="callout callout--title">
    <div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h1>Overview</h1>
			</div>
		</div>
	</div>
</div>
<div class="dashboard">
    <div class="container">
		<div class="row">
			<aside class="col-xs-12 col-sm-4">
				<h2>Progress</h2>
				<ul class="list-group">
					<li class="list-group-item">
						<span class="badge">Complete</span>
						1. Comparison
					</li>
					<li class="list-group-item">
						<span class="badge">Complete</span>
						2. Evaluation reviews
					</li>
					<li class="list-group-item">
						<span class="badge">Pending</span>
						3. 360 review
					</li>
					<li class="list-group-item">
						<span class="badge">To-do</span>
						4. Independent panel review
					</li>
					<li class="list-group-item">
						<span class="badge">...</span>
						<span class="glyphicon glyphicon-star"></span> Promotion
					</li>
				</ul>
				<h3>Budget: <span class="text-status text--red">Limited</span></h3>
				<div class="chart-wrap">
					<canvas id="budgetChart"></canvas>
				</div>
				<p class="chart-info">Available budget for promotions in 2015.</p>
				<p>There are a limited amount of funds available for promotions in 2015.</p>
			</aside>
			<section class="col-xs-12 col-sm-8">
				<div class="dashboard_results">
					<div class="dashboard_section">
						<h2><span class="text--minor">Step 1</span><br>Comparison <span class="glyphicon glyphicon-ok-sign text--green"></span></h2>
						<p>Your comparison is complete.</p>
						<p class="dashboard_score"><span class="text--minor">Your score</span><br>
							<span class="text--green  dashboard_score-num">90/100</span>
						</p>
						<a href="@routes.Application.compare" class="btn btn--learn-more">View your comparison results <span class="glyphicon glyphicon-chevron-right"></span></a>
					</div>
					<div class="dashboard_section">
						<h2><span class="text--minor">Step 2</span><br>Evaluation <span class="glyphicon glyphicon-ok-sign text--green"></span></h2>
						<p>You have completed your self-evaluation.</p>
						<p class="dashboard_score"><span class="text--minor">Your score</span><br>
							<span class="text--green dashboard_score-num">85/100</span>
						</p>
						<a href="@routes.Application.evaluation" class="btn btn--learn-more">View your comparison results <span class="glyphicon glyphicon-chevron-right"></span></a>
					</div>
					<div class="dashboard_section">
						<h2><span class="text--minor">Step 3</span><br>360 review <span class="glyphicon glyphicon-question-sign text--yellow"></span></h2>
						<p>Your 360 review is under-way and may take up to a week to complete.</p>
						<p class="dashboard_score"><span class="text--minor">Your score (pending)</span><br>
							<span class="text--yellow  dashboard_score-num">76/100</span>
						</p>
						<a href="@routes.Application.review360" class="btn btn--learn-more">View your 360 review results <span class="glyphicon glyphicon-chevron-right"></span></a>
					</div>
					<div class="dashboard_section">
						<h2><span class="text--minor">Step 4</span><br>Independent panel review <span class="glyphicon glyphicon-remove-sign text--red"></span></h2>
						<p>Your panel review is incomplete.</p>
					</div>
					<div class="dashboard_section">
						<h2>Request promotion</h2>
						<p>Once all of the above steps are complete, you may send a final version of this information for promotional consideration.</p>
						<a href="#" class="btn btn-lg btn--primary">Request promotion</a>
					</div>
				</div>
			</section>
		</div>
	</div>
</div>

}{
	<script src="@routes.Assets.versioned("javascripts/dashboard.js")"></script>
}
