@()
@main("Home")("Bananja"){
	<section class="callout callout--main">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-8">
					<h1>Improve your skills - get promoted.</h1>
					<p>Bananja</p>
					<div class="btn-group--cta">
						<a href="@routes.Application.compare" class="btn btn--primary btn--lg">Get started</a>
						<a href="#learnMore" class="btn btn--learn-more-cta btn--lg">Learn more</a>
					</div>
				</div>
				<div class="hidden-xs col-sm-6 col-md-4">
					<canvas id="indexChart" width="350px" height="350px"></canvas>
				</div>
			</div>
		</div>
	</section>
	<section class="callout callout--learn-more" id="learnMore">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<h2 class="text-center">How it works</h2>
					<div class="row">
						<div class="col-xs-12 col-sm-3">
							<div class="media">
							  <div class="media-left">
								  <span class="media-object glyphicon glyphicon-ok"></span>
							  </div>
							  <div class="media-body">
								<h3 class="media-heading">Step 1</h3>
								<p>Compare your skills with other people in the industry and in the company.</p>
							  </div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-3">
							<div class="media">
							  <div class="media-left">
								  <span class="media-object glyphicon glyphicon-ok"></span>
							  </div>
							  <div class="media-body">
								<h3 class="media-heading">Step 2</h3>
								<p>Get a 360 review from your peers to learn where you're excelling and where you need to improve.</p>
							  </div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-3">
							<div class="media">
							  <div class="media-left">
								  <span class="media-object glyphicon glyphicon-ok"></span>
							  </div>
							  <div class="media-body">
								<h3 class="media-heading">Step 3</h3>
								<p>Get a comprehensive performance report and submit your results for an independent review.</p>
							  </div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-3">
							<div class="media">
							  <div class="media-left">
								  <span class="media-object glyphicon glyphicon-ok"></span>
							  </div>
							  <div class="media-body">
								<h3 class="media-heading">Step 4</h3>
								<p>Your results get reviewed by an independent panel. Then you get promoted!</p>
							  </div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="callout callout--values">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-8">
				<h2>Bananja</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-6">
					<div class="media">
					  <div class="media-left">
						  <span class="media-object glyphicon glyphicon-comment"></span>
					  </div>
					  <div class="media-body">
						<h3 class="media-heading">Improved Communication</h3>
						<p>Bananja</p>
					  </div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6">
					<div class="media">
					  <div class="media-left">
						  <span class="media-object glyphicon glyphicon-search"></span>
					  </div>
					  <div class="media-body">
						<h3 class="media-heading">More transparency</h3>
						<p>By making the promotion process more transparent, employees will be more content with employers decisions.</p>
					  </div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="callout callout--get-started">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-8 col-sm-offset-2">
					<h1>Get started today.</h1>
					<p>Kick off your advancement journey right now.</p>
					<div class="btn-group--cta">					
						<a href="@routes.Application.compare" class="btn btn--primary btn--lg">Get started</a>
					</div>
				</div>
			</div>
		</div>
	</section>	
} {
	<script src="@routes.Assets.versioned("javascripts/index.js")"></script>
}
