@(title: String)(desc: String)(content: Html)(js: Html)

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>@title - Bananja</title>
        <meta name="description" content="@desc">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<link href='https://fonts.googleapis.com/css?family=Bitter' rel='dns-prefetch stylesheet' type='text/css'>
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/bootstrap.min.css")">
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/main.css")">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="@routes.Assets.versioned("javascripts/bootstrap.min.js")"></script>
    </head>
    <body>
		<nav class="navbar navbar-default primary-nav" role="navigation">
		  <div class="container">
			<div class="navbar-header">
			  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#primary-navbar-collapse" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			  </button>
			  <a class="navbar-brand" href="@routes.Application.index">Bananja&trade;</a>
			</div>

			<div class="collapse navbar-collapse" id="primary-navbar-collapse">
			  <ul class="nav navbar-nav">
				<li><a href="@routes.Application.index">Home</a></li>        
				<li><a href="@routes.Application.compare">Compare</a></li>
				<li><a href="@routes.Application.evaluation">Evaluations</a></li>
				<li><a href="@routes.Application.review360">360 Review</a></li>				
			  </ul>
			  <ul class="nav navbar-nav navbar-right">
				<li><a href="@routes.Application.dashboard"><span class="glyphicon glyphicon-user"></span> Login</a></li>        
			  </ul>
			</div><!-- /.navbar-collapse -->
		  </div><!-- /.container-fluid -->
		</nav>
		
		<div class="content" role="main">
		@content
		</div>
		
		<footer class="primary-footer" role="content-info">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-4 col-sm-offset-4">
						<h4 class="footer_header">Links</h4>
						<ul>
							<li><a href="@routes.Application.index">Home</a></li>        
							<li><a href="@routes.Application.compare">Compare</a></li>
							<li><a href="@routes.Application.evaluation">Evaluations</a></li>
							<li><a href="@routes.Application.review360">360 Review</a></li>							
							<li><a href="@routes.Application.dashboard">Login</a></li>
						</ul>
					</div>
				</div>
				<div class="row">
					<div classs="col-xs-12">
						<p class="copyright">&copy; Innovating Consulting</p>
					</div>
				</div>
			</div>
		</footer>
		
		<script src="@routes.Assets.versioned("javascripts/chart.min.js")"></script>
		
		@js
    </body>
</html>