@()
@main("Review 360")("Your latest 360 review results."){
<div class="callout callout--title">
    <div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h1>360 Review</h1>
			</div>
		</div>
	</div>
</div>
<div class="callout">
    <div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h2>Your 360 evaluation: <span class="text--status text--yellow">Needs improvement</span></h2>
				<p>Here are the results of your 360 evaluation. It looks like there's some room for improvement.</p>
			</div>
		</div>
		<div class="row chart-group">
			<div class="col-xs-12 col-sm-4">
				<div class="media">
				  <div class="media-left">
					  <span class="media-object glyphicon glyphicon-user"></span>
				  </div>
				  <div class="media-body">
					<h3 class="media-heading">Sarah Smith <span class="glyphicon glyphicon-ok-sign text--green"></span></h3>
					<p><b>Manager</b></p>					
				  </div>
				</div>
				<blockquote>[You] are performing according to acceptable standards. You show initiative and gumption...</blockquote>
				<a href="#" class="btn btn--learn-more">Read more <span class="glyphicon glyphicon-chevron-right"></span></a>
			</div>
			<div class="col-xs-12 col-sm-4">
				<div class="media">
				  <div class="media-left">
					  <span class="media-object glyphicon glyphicon-user"></span>
				  </div>
				  <div class="media-body">
					<h3 class="media-heading">Hassour Zainsubani <span class="glyphicon glyphicon-question-sign text--yellow"></span></h3>
					<p><b>Peer</b></p>					
				  </div>
				</div>
				<blockquote>[You] are a joy to work with! But, I'm not sure that you know what you're doing...</blockquote>
				<a href="#" class="btn btn--learn-more">Read more <span class="glyphicon glyphicon-chevron-right"></span></a>
			</div>
			<div class="col-xs-12 col-sm-4">
				<div class="media">
				  <div class="media-left">
					  <span class="media-object glyphicon glyphicon-user"></span>
				  </div>
				  <div class="media-body">
					<h3 class="media-heading">Terrence <span class="glyphicon glyphicon-remove-sign text--red"></span></h3>
					<p><b>Disgruntled co-worker</b></p>					
				  </div>
				</div>
				<blockquote>I have impossibly high expectations of [you]. You'll never measure up...</blockquote>
				<a href="#" class="btn btn--learn-more">Read more <span class="glyphicon glyphicon-chevron-right"></span></a>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-4">
				<div class="media">
				  <div class="media-left">
					  <span class="media-object glyphicon glyphicon-user"></span>
				  </div>
				  <div class="media-body">
					<h3 class="media-heading">Gil Fulbright <span class="glyphicon glyphicon-question-sign text--yellow"></span></h3>
					<p><b>Peer</b></p>					
				  </div>
				</div>
				<blockquote>Wait, who are we talking about? ...</blockquote>
				<a href="#" class="btn btn--learn-more">Read more <span class="glyphicon glyphicon-chevron-right"></span></a>
			</div>
			<div class="col-xs-12 col-sm-4">
				<div class="media">
				  <div class="media-left">
					  <span class="media-object glyphicon glyphicon-user"></span>
				  </div>
				  <div class="media-body">
					<h3 class="media-heading">Shannon Pascale <span class="glyphicon glyphicon-question-sign text--yellow"></span></h3>
					<p><b>Senior manager</b></p>					
				  </div>
				</div>
				<blockquote>Typical worker. Neither rocks the boat nor pushes the envelope..</blockquote>
				<a href="#" class="btn btn--learn-more">Read more <span class="glyphicon glyphicon-chevron-right"></span></a>
			</div>
			<div class="col-xs-12 col-sm-4">
				<div class="media">
				  <div class="media-left">
					  <span class="media-object glyphicon glyphicon-user"></span>
				  </div>
				  <div class="media-body">
					<h3 class="media-heading">Matata Ponyo <span class="glyphicon glyphicon-question-sign text--yellow"></span></h3>
					<p><b>Developer II</b></p>					
				  </div>
				</div>
				<blockquote>I'm not sure that you know what you're doing, but - boy oh boy - you sure are good at it...</blockquote>
				<a href="#" class="btn btn--learn-more">Read more <span class="glyphicon glyphicon-chevron-right"></span></a>
			</div>
		</div>		
	</div>
</div>

}{

}
